/* место для вашего кода */

body {
  font-family: Raleway, "Arial";
}

button {
  all: unset;
}

li {
  list-style: none;
}

/* common vars */

:root {
  --bg-color-white: white;
  --ft-weight-400: 400;
  --size-100: 100%;
}

/* common styles */

.cover__description,
.lots__card-list,
.about,
.footer,
.footer__social-list {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.header__link,
.footer__menu-list-item,
.address,
.header__links-list-item,
.header__link_active {
  font-size: 18px;
  font-weight: var(--ft-weight-400);
}

.card__text,
.lots__look-more-link,
.about__text,
.address {
  font-weight: var(--ft-weight-400);
  line-height: 24px;
}

.card__text,
.lots__look-more-link,
.about__text {
  font-size: 20px;
}

.header__links-list,
.header__logo-image {
  display: flex;
  justify-content: center;
  align-items: center;
}

.card > .overlay,
.about__text,
.footer__menu-list,
.footer__menu-list-item {
  display: flex;
  flex-direction: column;
}

.card > .overlay,
.about__text,
.footer__menu-list {
  justify-content: space-between;
}

.header__links-list,
.header__links-list-item .header__links-list-item_no-bullet,
.lots__card-list-item,
.footer__menu-list-item,
.footer__social-list-item,
.header__link_active {
  list-style: none;
}

.header__link,
.footer__menu-link,
.card__title,
.lots__look-more-link,
.address-tel,
.address-mail {
  text-decoration: underline;
  text-underline-offset: 3px;
}

.header__link_active,
.footer__menu-link_active,
.card-link {
  text-decoration: none;
}

.header__link,
.footer__menu-list-item,
.header__links-list-item,
.header__link_active {
  line-height: 22px;
}

.card-link.about {
  display: block;
}

.card > .overlay,
.card-link,
.lots__card-list-item,
.about__logo-image {
  height: var(--size-100);
}

.aligned-text,
.aligned-text_center,
.aligned-text_right,
.cover__description-text,
.footer__social-link,
.card-link,
.footer__menu-link,
.footer__menu-link_active,
.word,
.lots__look-more-link {
  display: inline-block;
}

.cover__title,
.cover__description-text,
.bet-button,
.lots__heading,
.card__title,
.about__title {
  text-transform: uppercase;
}

.about__logo-image-content,
.header__logo-image,
.footer__social-link,
.footer__social-list-item {
  min-height: var(--size-100);
}

.lots__card-list,
.footer__social-link,
.footer__menu-list-item {
  width: var(--size-100);
}

.card__title,
.bet-button,
.cover__description-text {
  font-size: 22px;
}

.lots,
.about {
  padding: 0 24px;
}

.address-tel,
.address-mail,
.address-content {
  font-style: normal;
  line-height: 24.3px;
}

.footer__menu-link,
.footer__menu-link_active {
  width: var(--size-100);
  box-sizing: content-box;
  padding-left: 35px;
  line-height: 21.13px;
}

.address-content {
  letter-spacing: 0.01em;
  font-style: normal;
}

/* header styles */

.header {
  min-height: 105px;
  margin: 92px 24px 96px;
  display: grid;
  grid-template-columns: 6fr 1fr 6fr;
}

.header__menu {
  align-self: center;
  justify-self: end;
  margin-right: 34px;
}

.header__links-list {
  gap: 14px;
}

.header__links-list > .header__links-list-item {
  padding-right: 18px;
}

.header__links-list
  > .header__links-list-item:not(.header__links-list-item_no-bullet) {
  list-style: circle;
}

.header__links-list-item > .header__link {
  letter-spacing: 0.01em;
  line-height: 1.13px;
}

.header__links-list > .header__links-list-item:last-child {
  padding-right: 0;
}

.header__logo {
  width: 148px;
  display: flex;
}

.header__logo-image {
  min-width: 148px;
}

.header__logo-image-content {
  width: 135px;
}

.header__address {
  margin: 7px 24px 2px 187px;
}

/* main-cover styles */

.cover {
  min-height: 757px;
  position: relative;
  background-image: url("../images/cover.jpg");
  background-size: cover;
  background-position: center;
}

.overlay {
  inset: 0;
  background-color: rgb(0 0 0/0.6);
  z-index: 1;
}

.cover > .overlay {
  display: grid;
  grid-template-rows: 365px 156px;
  grid-gap: 20px;
  padding: 165px 50px 51px;
}

.cover__title {
  display: grid;
  align-items: center;
  grid-template-rows: 4fr 4fr 4fr;
  color: var(--bg-color-white);
  font-size: 100px;
  font-weight: 700;
  line-height: 100px;
}

.aligned-text {
  justify-self: self-start;
  letter-spacing: 0.03em;
}

.aligned-text_center {
  text-align: center;
  justify-self: center;
  align-self: center;
  display: grid;
  grid-template-columns: 1fr 2fr 0.27fr 1fr;
  grid-template-rows: 1fr;
  grid-template-areas: "1 content 2 3";
}

.item2 {
  grid-area: content;
}

.aligned-text_right {
  justify-self: end;
  letter-spacing: 0.04em;
  text-align: left;
}

.letter-spacing-extended {
  letter-spacing: 0.18em;
}

.no-letter-spacing {
  letter-spacing: 0;
}

.cover__description {
  align-items: flex-end;
}

.cover__description-text {
  min-height: 26px;
  min-width: 637px;
  margin-left: 28px;
  color: var(--bg-color-white);
  font-weight: var(--ft-weight-400);
  line-height: 28px;
  word-spacing: 0.73em;
  padding-bottom: 11px;
  box-sizing: content-box;
}

.cover__description-common-word {
  margin-left: 2px;
}

.cover__description-two-word {
  margin-left: 3px;
}

.cover__description-five-word {
  margin-left: 4px;
}

.bet-button {
  width: 256px;
  min-height: 50px;
  padding: 10px 30px;
  color: var(--bg-color-white);
  background-color: transparent;
  font-weight: 500;
  line-height: 25px;
  border: 1px solid var(--bg-color-white);
  box-sizing: border-box;
  cursor: pointer;
}

/* main-lots styles */

.lots {
  position: relative;
  margin-top: 176px;
  min-height: 692px;
}

.lots__heading {
  margin-left: 40px;
  font-size: 40px;
  font-weight: 700;
  line-height: 46.96px;
  text-align: left;
}

.lots__card-list {
  margin-top: 27px;
  flex-wrap: wrap;
  gap: 25px;
}

.lots__card-list-item {
  width: 334px;
}

.card {
  background-size: cover;
  background-position: center;
}

.card > .overlay {
  min-height: 563px;
  padding: 51px 40px 48px;
  background-color: rgb(0 0 0/0.6);
}

.card_type_film {
  background-image: url("../images/card-lot-01.jpg");
}

.card_type_book {
  background-image: url("../images/card-lot-02.jpg");
}

.card_type_picture {
  background-image: url("../images/card-lot-03.jpg");
}

.card__title {
  font-weight: 700;
  line-height: 26.4px;
  text-decoration-style: solid;
  color: var(--bg-color-white);
}

.card__text {
  color: var(--bg-color-white);
}

.lots__look-more-link {
  margin-left: 40px;
  margin-top: 32px;
  text-decoration-thickness: 1px;
  text-underline-offset: 4px;
}

/* main-about styles */

.about {
  display: grid;
  grid-template-columns: 240px 693px;
  justify-content: space-between;
  margin-top: 146px;
  min-height: 595px;
  padding-top: 35px;
  padding-left: 67px;
  align-items: start;
  gap: 72px;
}

.about__logo {
  height: 240px;
  width: 240px;
  border-radius: 50%;
  background-color: black;
}

.about__logo-image {
  width: var(--size-100);
  display: flex;
  justify-content: center;
}

.about__logo-image-content {
  width: 148px;
  height: 114px;
}

.about__title {
  margin-top: 100px;
  font-size: 40px;
  font-weight: 700;
  line-height: 46.96px;
}

.about__text {
  width: 688px;
  margin-top: 100px;
  align-items: end;
  gap: 24px;
}

.about__text-content {
  white-space: wrap;
}

/* footer styles */

.footer {
  margin-top: 180px;
  margin-bottom: 88px;
  min-height: 98px;
  padding: 0 50px;
}

.footer__menu {
  min-width: 150px;
}

.footer__menu-list {
  align-items: end;
}

.footer__menu-list-item {
  align-items: center;
  text-align: center;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
}

.footer__social-list {
  align-items: end;
  width: 240px;
}

.footer__social-icon {
  height: 48px;
  width: 48px;
}
